MAS_WorkFlowService/Service References/PaymentSolutions/PaymentSolution.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentSolution" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52060/PaymentSolution.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52060/PaymentSolution.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_LoadRequestToPOSFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadRequestToPOSFlow" />
  </wsdl:message>
  <wsdl:message name="IService_LoadRequestToPOSFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadRequestToPOSFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SubmitToPOSInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitToPOSInventory" />
  </wsdl:message>
  <wsdl:message name="IService_SubmitToPOSInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitToPOSInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckPOSInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPOSInventory" />
  </wsdl:message>
  <wsdl:message name="IService_CheckPOSInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPOSInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DonePOSPRofiling_InputMessage">
    <wsdl:part name="parameters" element="tns:DonePOSPRofiling" />
  </wsdl:message>
  <wsdl:message name="IService_DonePOSPRofiling_OutputMessage">
    <wsdl:part name="parameters" element="tns:DonePOSPRofilingResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="LoadRequestToPOSFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LoadRequestToPOSFlow" message="tns:IService_LoadRequestToPOSFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoadRequestToPOSFlowResponse" message="tns:IService_LoadRequestToPOSFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitToPOSInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SubmitToPOSInventory" message="tns:IService_SubmitToPOSInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubmitToPOSInventoryResponse" message="tns:IService_SubmitToPOSInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPOSInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckPOSInventory" message="tns:IService_CheckPOSInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckPOSInventoryResponse" message="tns:IService_CheckPOSInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DonePOSPRofiling">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DonePOSPRofiling" message="tns:IService_DonePOSPRofiling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DonePOSPRofilingResponse" message="tns:IService_DonePOSPRofiling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadRequestToPOSFlow">
      <soap:operation soapAction="http://tempuri.org/IService/LoadRequestToPOSFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitToPOSInventory">
      <soap:operation soapAction="http://tempuri.org/IService/SubmitToPOSInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPOSInventory">
      <soap:operation soapAction="http://tempuri.org/IService/CheckPOSInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonePOSPRofiling">
      <soap:operation soapAction="http://tempuri.org/IService/DonePOSPRofiling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentSolution">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52060/PaymentSolution.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>