MAS_WorkFlowService/Service References/PaymentSolutions/PaymentSolution1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoadRequestToPOSFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramPosRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRequestToPOSFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitToPOSInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramPOSRequestId" type="xs:int" />
        <xs:element minOccurs="0" name="paramIsComplete" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitToPOSInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPOSInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramPosRequestId" type="xs:int" />
        <xs:element minOccurs="0" name="paramIsOk" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPOSInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonePOSPRofiling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramPOSRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonePOSPRofilingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>